[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
docopt = "*"
toml = "*"
python-telegram-bot = "*"
python-weather = "*"
python-kasa = "*"
asyncio = "*"


[dev-packages]
black = "*"
rope = "*"

[requires]
python_version = "3"
